.container-big-cad{        
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:flex-start;
    
}
.big-card-thumb{        
    width: 100%;
    display: flex;    
}
.big-card-thumb > img{
    width: 100%;    
}
.big-card-title > h1{
    font-size: 20px;
    margin-top: 25px;
    text-transform: uppercase;
}

.big-card-description{
    margin-top: 15px;
}
.big-card-description > p > a{   
    color:grey
}

