<div class="container-big-cad">
    <div class="big-card-thumb">
        <img src="https://static.todamateria.com.br/upload/le/nd/lenda-do-boto-og.jpg" alt="" height="265px"
            srcset="">
    </div>

    <div class="big-card-title">
        <h1><a href="#">Lenda do Boto-cor-de-rosa</a></h1>
    </div>
    <div class="big-card-description">
        <p>
            <a href="#">
                Na lenda, o boto-cor-de-rosa transforma-se em um homem muito bonito e charmoso que vai às festas para seduzir mulheres.
            </a>
        </p>
    </div>
</div>