@media screen and (max-device-width:768px) {
    .articles-main{
        width: 98%;
    }
    .container-big-cad {
        width: 95%;  
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;        
        margin-bottom: 30px;           
    }
    .big-card-thumb{        
        height: 95%;     
    }
    .big-card-thumb > img{
        width: 100%;
    }
}