<div class="container-small-card">
    <div class="container-small-card-content">
        <div class="small-card-thumb">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgG8GwdqB2oDzr0OxyZLNZ2V0ACB9HbXoatmurM-oiU8TPMMxMtndXJBr4fPqNvhCf3VA&usqp=CAU"
                alt="" height="120" srcset="">
        </div>
        <div class="small-card-title">
            <h2><a href="#">Lenda da Cobra Grande</a></h2>
        </div>
    </div>
    <div class="small-card-separator">
        <hr>
    </div>
</div>