.container-small-card{        
    width: 100%!important;
    height: 100%;         
    display: flex;
    flex-direction: column;    
}
.container-small-card-content{
    max-width: 500px;  
    width: 100%;  
    display: flex;   
    flex-direction: row;
}    
.small-card-thumb > img{
    max-width: 200px;
    width: 200px;    
}

.small-card-title{
    display: flex;
    flex-direction: row;
    align-items:center;
    margin-left: 20px;
}

.small-card-separator{    
    margin: 20px 0 20px 0;    
    padding: 0;
}
