.container-small-card{        
    width: 100%;        
}
.container-small-card-content{
    display: flex;
    flex-direction: row;    
}    
.small-card-thumb > img{
    max-width: 200px;
    width: 200px;
    margin-right: 20px;
}

.small-card-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-card-separator{
    margin: 10px 0 10px 0;    
}
