<article>
    <div class="container-content-bg">
        <div class="container-content">
            <div class="content-cover">
                <img src="{{photoCover}}" alt="">
            </div>
            <div class="content-title">
                <header>
                    <h1>{{contentTitle}}</h1>
                </header>
            </div>            
            <div class="content-description">
                <p><a [routerLink]="['']">&lAarr; Voltar</a></p>
                {{contentDescription}}
            </div>
        </div>
    </div>
</article>